.container-table {
  border-radius: 4px;
  padding: 32px;
  margin-top: 75px;
}

.estoque-table {
  width: 100%;
}

.estoque-table thead th {
  color: black;
  text-align: center;
  padding: 12px;
  font-size: 26px;
}

.estoque-table thead tr th {
}

.estoque-table tbody td {
  text-align: center;
  padding: 12px;
  border: 5px solid rgb(35, 37, 35);
  width: 100px;
  font-size: 18px;
  color: rgb(35, 37, 35);
}

.formEditProduct {
  border: 0;
}

.formEditProduct .input-container .input-block textarea {
  width: 100%;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
}

.formEditProduct .input-container .input-block textarea {
  min-height: 60px;
  max-height: 120px;
  resize: vertical;
  padding: 16px;
}

.formEditProduct .confirm-button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 50px;
  border: 0;
  background: #a0ba49;
  cursor: pointer;
  color: black;
  font-size: 26px;
}

.info-icon-description {
  display: inline;
  justify-content: flex-end;
  margin-left: 120px;
  margin-bottom: 500px;
  margin-bottom: 50px;
  position: absolute;
}
